<% provide(:title, 'About Us') %>

<div class="aboutWrapper">
	<h1 class="aboutTitle">ABOUT US</h1>
	<!-- <div class="aboutThumbImage"> -->
		<%= image_tag "Garlands Market_1cx_9106 1000p.jpg", class: "aboutThumbImage"   %>
	<!-- </div> -->

	<div class="aboutBlockFull clearfix">
		<p class="aboutBlockHalf vn">Chúng ta đang sống trong một thế giới hiện đại, nơi mỗi con người luôn vận động hết mình để mang lại những điều tốt đẹp nhất cho bản thân, gia đình và xã hội. Hòa mình vào môi trường thành thị sôi động, Carpenta luôn xác định cho mình mục tiêu tạo ra những sản phẩm từ gỗ mang phong cách trẻ trung và hiện đại trong thiết kế, nhưng vẫn giữ nét lãng mạn và tinh tế trong từng chi tiết.</p>
		<p class="aboutBlockHalf en">We are living in a modern society, where people always tries their best to brings the greatest values to themselves, their family and community. Stepping into a lively market, Carpenta's aim is to create wooden products bearing not only modern design but also exquisite craftsmanship in every detail.</p>
	
	</div>

	<div class="aboutBlockFull clearfix">
		<p class="aboutBlockHalf vn">Với phương châm, mỗi sản phẩm  được tạo ra đều góp phần làm thi vị hóa không gian sống và làm việc của bạn, chúng tôi, những con người đang kế thừa truyền thống nghề Gỗ Việt Nam, luôn nổ lực học hỏi và sáng tạo không ngừng nhằm mang đến những sản phẩm chất lượng và thẫm mỹ, thỏa mãn tối đa những nhu cầu của bạn.</p>
		<p class="aboutBlockHalf en">With the motto "Romanticize your space" - we, heirs of Vietnamese traditional woodworking, will never stop learning and creating to deliver our promises of quality and artistic products which can satisfy your every desire</p>
	</div>

	<hr class="clearfix">

	<div class="aboutBlockFull">

		<h2 class="aboutTitle vn">Gỗ Việt Nam, sự pha trộn giữa truyền thống và hiện đại</h2>

		<p>Việt Nam là 1 trong số các quốc gia Châu Á  được thiên nhiên ưu đãi với những cánh rừng nhiệt đới bất tận, cùng sản vật trù phú và đa dạng. Con người Việt Nam bao đời luôn gắn bó với những sản phẩm có nguồn gốc từ thiên nhiên, trong đó các sản phẩm từ gỗ chiếm một phần quan trọng trong cuộc sống của người Việt.</p>
		<p>Bên cạnh đó, với đôi bàn tay tài hoa của người thợ thủ công, cùng sự đam mê và sức sáng tạo không ngừng trong suốt hàng thế kỷ qua, kỹ nghệ chế tác các sản phẩm từ gỗ đã dần được định hình, phát triển và gắn bó mật thiết với cuộc sống của người dân trên khắp đất nước hình chữ S. Ngày nay, với sự phát triển mạnh mẽ về khoa nghọc và kỹ thuật, kỹ nghệ chế tác gỗ đã được nâng lên một tầm cao mới. Chính vì vậy, Việt Nam với những lợi thế sẵn có của mình cũng đang dần hội nhập để đưa ngành công nghiệp Gỗ tiến lên cùng các nước trong khu vực và thế giới.</p>

		<h2 class="aboutTitle en">Vietnamese woodworking - a mix of traditional technique and modern technology</h2>

		<p>Việt Nam is an Asian country favored by Mother Earth with endless tropical forest and various natural resources. Vietnamese people, from generations to generations, have grown fond of natural - origin products, among which wooden products always play a very important role.</p>
		<p>Additionally, with exquisite skill, burning passion and non-stop creativity, Vietnamese wood craftsmen have set a high standard for centuries. Nowadays, in the setting of advanced technology, woodworking techniques are brought to a new height. As a result, Vietnam, with her potential advantages, are quickly integrating into the global market as a fierce competitor.</p>

	</div>

</div>