<% provide(:title, 'Home') %>


  
  <div class="mainContent">
    <!-- <p class="logo">AVIATOR</h1> -->
    <%= link_to(image_tag('logo.png', :class => "mainLogo"), '/') %>
    <!-- <a href="/"><img alt="Logo" class="logo"  src="/assets/logo.png"></a> -->
 
    <p class="mainMoto">World class coffee in the heart of downtown Austin</p>
    <p class="mainContact-site">201 W 9TH ST, AUSTIN, TX 78701</p>
    <p class="mainPhone">789-555-1234</p>
    <hr class="mainSmLine"/>
    <p class="mainDescription">The description for your site. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Background Image by Flickr user </p>
  </div>

  