<% provide(:title, 'Home') %>
  
  <div class="mainContent">
    <%= link_to(image_tag('logo.png', :class => "mainLogo"), '/') %>

 
    <p class="mainMoto">Another Experience Of Wood | Một Cảm Nhận Khác Về Gỗ</p>
    <p class="mainContact-site">44/4A PHAN VAN HON ST, TAN THOI NHAT WARD, DIST. 12, HCMC</p>
    <p class="mainPhone">(+84)986-576-780</p>
    <hr class="mainSmLine"/>
    <p class="mainDescription">Cuộc sống thành thị vây lấy bạn với bộn bề công việc và lo toan. Hãy để chúng tôi mang đến cho bạn một trải nghiệm mới mẻ cùng những sản phẩm được làm từ gỗ bởi đôi tay khéo léo của người thợ Việt Nam    <span>|</span>   The hustle bustle of the city surrounds you with stress and worries. Let us bring you a totally refreshing experience with exquisite wooden products created by skillful Vietnamese craftsmen</p>

  </div>



  