<% provide(:title, 'shop Template') %>

<div class="productList clearfix">
  <!-- Product 1 -->
  <a href="#" class="productListItem">
    <span class="product-image">
      <img src="/assets/ProductImages/144.jpeg" alt="">
    </span>
    <span class="product-meta">
      Computer Mug <br/>
      $24.00
    </span>
  </a>
  
  <!-- Product 2 -->
  <a href="#" class="productListItem">
    <span class="product-image">
      <img src="/assets/ProductImages/jpeg-1.jpeg" alt="">
    </span>
    <span class="product-meta">
      Pour Kettle <br/>
      $65.00
    </span>
  </a>
  <!-- Product 3 -->
  <a href="#" class="productListItem">
    <span class="product-image">
      <img src="/assets/ProductImages/jpeg-2.jpeg" alt="">
    </span>
    <span class="product-meta">
      Chemex Coffeemaker <br/>
      $40.00
    </span>
  </a>
  <!-- Product 4 -->
  <a href="#" class="productListItem">
    <span class="product-image">
      <img src="/assets/ProductImages/jpeg-3.jpeg" alt="">
    </span>
    <span class="product-meta">
      Coffee Dripper <br/>
      $350.00
    </span>
  </a>
  <!-- Product 5 -->
  <a href="#" class="productListItem">
    <span class="product-image">
      <img src="/assets/ProductImages/verismo_brewer_silver_580_0.jpeg" alt="">
    </span>
    <span class="product-meta">
      Espresso System <br/>
      $20.00
    </span>
  </a>
  <!-- Product 6 -->
  <a href="#" class="productListItem">
    <span class="product-image">
      <img src="/assets/ProductImages/img18o.jpeg" alt="">
    </span>
    <span class="product-meta">
      Pod CoffeeMaker <br/>
      $325.00
    </span>
  </a>
  <!-- Product 7 -->
  <a href="#" class="productListItem">
    <span class="product-image">
      <img src="/assets/ProductImages/img25o.jpeg" alt="">
    </span>
    <span class="product-meta">
      Grand Coffee Maker <br/>
      $24.00
    </span>
  </a>
  <!-- Product 8 -->
  <a href="#" class="productListItem">
    <span class="product-image">
      <img src="/assets/ProductImages/img25o-1.jpeg" alt="">
    </span>
    <span class="product-meta">
      Barista Expresso Maker <br/>
      $750.00
    </span>
  </a>
  <!-- Product 9 -->
  <a href="#" class="productListItem">
    <span class="product-image">
      <img src="/assets/ProductImages/img38o.jpeg" alt="">
    </span>
    <span class="product-meta">
      Computer Mug <br/>
      $24.00
    </span>
  </a>
</div>





