<% provide(:title, 'product Template') %>

<div class="productWrapper clearfix">
	<div class="backLink">
		<a href="#">← Back to Shop </a>
	</div>
	<div class="productSummary clearfix">
		<div class="productGallery">
			<div class="productSlideshow">
				<div class="mainImage">
					<img src="/assets/ProductImages/144.jpeg" alt="">
				</div>
				
			</div>
			<div class="productThumbnails">
				<div class="thumbnailImage">
					<div class="imgCenter">
						<img src="/assets/ProductImages/144.jpeg" alt="">
					</div>
					
				</div>
				<div class="thumbnailImage">
					<div class="imgCenter">
						<img src="/assets/ProductImages/144.jpeg" alt="">
					</div>
					
				</div>
				<div class="thumbnailImage">
					<div class="imgCenter">
						<img src="/assets/ProductImages/144.jpeg" alt="">
					</div>
					
				</div>
			</div>
		</div>
		<div class="productDetails">
			<div class="productTitle">Commuter Mug</div>
			<div class="productPrice">24.00</div>
			<div class="productShortDesc">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus</p>
			</div>
			<div class="addToCartButton"></div>
		</div>
	</div>
	<div class="productDescription">
		<h3>Full Description</h3>
		<p>Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum.</p>

		<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p>
	</div>
</div>