<h3>Carpenta Order Confirmation</h3>
<p>Thank you for your recent order from Carpenta.</p>

<p>You can access your order using the following link:</p>

<%= link_to	@order.permalink_url, @order.permalink_url, html_options={target: "_blank"} %>

<p>You ordered the following items:</p>

<table>
	<tr>
		<th colspan="2">Qty</th>
		<th>Description</th>
	</tr>
		<% @order.order_line_items.each do |item| %>
			<tr>
					<td><%= item.quantity %>&times;</td>
					<td><%= item.product.title %></td>
					<td class="item_price"><%= number_to_currency(item.total_price) %></td>
			</tr>

		<% end %>
</table>	

<p>We'll send you a separate e-mail when your order ships.</p>