<div class="orderPage">
	
	<div class="orderHeader">Carpenta - Checkout </div>
	
		
	<div class="orderSummary">
		<%= render('order_summary_form') %>
	</div>
	
	<div class="orderInfo">
		<%= render('order_info_form') %>

	</div>

	
</div>