<% provide(:title, 'Your Cart') %>

<div class="shoppingCartWrapper">
	<div class="cartBacklink">
		<%= link_to "â† Continue Shopping", root_path %>
	</div>
	<div class="cartTitle">Shopping Cart</div>
	<div class="shoppingCart">
		<%= render(:partial => 'carts/shoppingCart') %>
	</div>
</div>




