<p>Dear boss, </p>

<p>The customer - <%= @user_info["name"] + " | " + @user_info["email"] %> has a message for you: </p>

<p>
	"<%= @user_info["message"] %>"
</p>

<p>That's it for now. You better reply him asap sir !!!</p>
<p>Regards,</p>
<p>Your Web Bot</p>