/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require home
 */



/*==========================Background==========================*/
.outerWrapper {
	/*max-width: 960px;*/
	background-image: image-url("shop3.jpg");
	background-position: top left;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: absolute;
	min-width: 100%;
	width: 100%;
	min-height: 100%;
	z-index: 1;
}
.pgOverlay {
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.2);
}





/*========================Navigation========================*/

nav.mainNavigation {
	/*width: 90%;*/
	width: 650px;
	position: relative;
	margin: auto;
	text-align: center;
	font-family: 'Source Sans Pro', Tahoma, Arial, sans-serif;
	color: rgb(251, 251, 251);
}

nav.mainNavigation ul {
	list-style: none;
	display: inline-block;
	padding: 0 0 0 0 ;
	margin-top: 10px;
}

nav.mainNavigation li {
	display: block;
	float: left;
	margin: 1.2em;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-size: 13px;
	/*font-family: 'Source Sans Pro', Tahoma, Arial, sans-serif;*/
}
nav.mainNavigation ul.subMenu {
    position: absolute;
    top: 30px;
    right: 0;
    width:100%;
		padding-top: 0;
		z-index: 1;
		visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.15s,opacity 0.15s linear;
}
ul.subMenu > li {
	margin-left: 0;
	margin-right: 0;
	float: none;
	display: inline-block;

}
.menu>li:hover ul.subMenu{
	visibility: visible;
	opacity: 1;
	transition-delay: 0.2s, 0.2s;
}

ul.subMenu li:after{content: "|";}
ul.subMenu li:before{content: "|";}

nav.mainNavigation a {
	text-decoration: none;
	color: rgb(251, 251, 251);	
}
nav.mainNavigation a:hover {
	text-decoration: none;
	color:rgb(255, 214, 117);
}





/*=======================Cart Summary=======================*/


.cartSumBG{
	color: #DDD;
	background-image: linear-gradient(#1e1e1e, #040404);
	border-radius: 30px;
	width:240px;
	height: 26px;
	padding: 10px 15px; 
	position: fixed;
	z-index: 1;
	right: 10px;
	top: 80px;
	cursor: pointer;
	font-family: Arial;
	opacity: 0.7;
	transition: opacity .3s linear;
	text-decoration: none;
}

.cartSumBG:Hover{
	opacity:1;
}
.cartSumIcon{
	background-image: image-url("icon-cart-18-light.png");
	height: 18px;
	width: 18px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 5px;
	position: relative;
	top: 3px;
}
.cartSumDetails{
	font-size: 14px;
	font-weight: bold;
}
.cartSumItems{

}
.cartSumTotal{
	float: right;
	font-size: 17px;
	font-weight: 800;
	top: 3px;
	position: relative;
}
.cartSumTotal:after{
	content: ' ₫';
}







/*=====================Application Content=====================*/
.innerWrapper {
	position: relative;
	width: 770px;	
	top: 10px;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	font-family: Georgia, serif;
	padding: 25px 0px 0px 0px;
}
.appLogo {
	height: 220px;
	width: 60%;
}
.appMoto{
	color: rgb(255, 214, 117);
	font-size: 21px;
	font-style: italic;
	font-weight: normal;
	height: 29px;
	letter-spacing: normal;
	line-height: 29px;
	margin-bottom: 15px;
}
.appContact-site, .appPhone {
	margin: 5px 0 5px 0;
	color: rgb(171, 176, 179);
	font-family: 'Source Sans Pro', Tahoma, Arial, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 3px;
	line-height: 20.390625px;

}
.appPhone{
	margin-bottom: 30px;
}
.notice, .alert {
	margin: 0;
	padding: 10px 0 10px 0;
	color: #fff;
	font-size: 20px;
	font-family: 'Source Sans Pro', Tahoma, Arial, sans-serif;
	font-weight: 700;

}
.notice {
	background-color: #1CCA5B;
}
.alert {
	background-color: #DD5035;
}


.appContent {
	margin: 0 0 0 0;
	padding: 30px 50px 30px 50px;
	min-height: 200px; 
	background-color: rgb(251, 251, 251);
	clear: both;
	overflow: hidden;
}


/*========================Pagination========================*/

.digg_pagination {
	display: inline-block;
	margin: auto;
	position: relative;
	top: 20px;
  background: white;
  cursor: default;
  font-size: 14px;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }






/*==========================Footer==========================*/

.appFooter {
	height: 80px;
	
	
}

.appFooter p {
	color: rgb(251, 251, 251);
	font-size: 15px;
	margin: 0;
	vertical-align: middle;
	padding-top: 25px;
}




/*=========================Social Icon=========================*/
.social {
	width: 650px;
	margin: auto;
	margin-bottom:10px;
	text-align: center;	
	margin-top: 30px;
}
.social a, .social a:hover{
	display: inline-block;
	width: 42px;
	height: 42px;
	margin: 0 10px 0 10px;
}

.facebookIcon {background: image-url('social-icons.png') -210px -126px;}
.googleIcon {background: image-url('social-icons.png') -336px -126px;}
.twitterIcon {background: image-url('social-icons.png') -294px -168px;}
.linkedinIcon {background: image-url('social-icons.png') 0 -168px;}
.flickrIcon {background: image-url('social-icons.png') -252px -126px;}
.dribbleIcon {background: image-url('social-icons.png') -168px -126px;}
.youtubeIcon {background: image-url('social-icons.png') -42px -210px;}
.pinterestIcon {background: image-url('social-icons.png') -126px -168px;}

.facebookIcon:hover {background-position: -210px 0;}
.googleIcon:hover {background-position: -336px 0;}
.twitterIcon:hover {background-position: -294px -42px;}
.linkedinIcon:hover {background-position: 0 -42px;}
.flickrIcon:hover {background-position: -252px 0;}
.dribbleIcon:hover {background-position: -168px 0;}
.youtubeIcon:hover {background-position: -42px -84px;}
.pinterestIcon:hover {background-position: -126px -42px;}



/*========================Miscelaneous========================*/
body {
	margin:0;
	font-family: 'Source Sans Pro', Tahoma, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4em;
	text-transform: none;
	letter-spacing: 0;
	font-weight: 400;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}












/*|||||||||||||||||||||||||||SHOP||||||||||||||||||||||||||||||*/

/*TODO: maybe cut this out to it own CSS, or not?*/

/*========================Product List========================*/

.collectionTitle {
	font-family: 'Voltaire', Georgia, serif;
	font-size: 50px;
	line-height: 1em;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 5px;
	font-weight: 700;
	font-style: normal;
	color: #696A6B;
	margin: 0 ;
	text-align: center;
	display: inline-block;
	width: 100%;
	position: relative;
	top: -15px;
}

.productList {
	/*width: 100%;*/
	padding-left: 5px;
	padding-right: 5px;
}
.productListItem {
	float: left;
	margin: 10px;
	width: 200px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
}
.product-image {
	display: inline-block;
  position: relative;
  right: -50%;
  -webkit-transition: opacity 0.14s ease-out;
	-moz-transition: opacity 0.14s ease-out;
	-ms-transition: opacity 0.14s ease-out;
	-o-transition: opacity 0.14s ease-out;
	transition: opacity 0.14s ease-out;
}
.product-image img {
	position: relative;
	left: -50%;
	height: 200px;
} 
.product-meta {
	color: #878D91 ;
	font-family: 'Source Sans Pro', Tahoma, Arial, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
}
.productListItem:hover .product-image{
	opacity:0.8;
}
.productListItem:hover .product-meta{
	opacity:0.8;
	color: rgb(255, 214, 117);
}




/*|||||||||||||||||||||||||PRODUCT|||||||||||||||||||||||||||*/


.productWrapper {
	text-align: left
}

.backLink, .backLink a {
	text-transform: uppercase;
	margin-bottom: 30px;
	color: rgb(171, 176, 179);
	text-decoration: none;
	font-family: 'Source Sans Pro', Tahoma, Arial, sans-serif;
}
.backLink a:hover {
	color: #ffd675;
}

/*Gallery*/
.productGallery {
	float: left;
	width: 325px;
}
.productSlideshow {
	overflow: hidden;

}
.productGallery .mainImage {
	display: inline-block;
    position: relative;
    right: -50%;
}
.productGallery .mainImage img{
	height: 325px;
	position: relative;
	left: -50%;
	
}
.productThumbnails {
	width: 325px;
}
.productThumbnails .thumbnailImage {
	float: left;
	width: 60px;
	margin: 2.5px;
	overflow: hidden;	
}
.productThumbnails .thumbnailImage .imgCenter {
	display: inline-block;
    position: relative;
    right: -50%;
}
.productThumbnails .thumbnailImage .imgCenter img {
	height: 60px;
	position: relative;
	left: -50%;
}


/*Product Meta*/
.productDetails {
	position: relative;
	float: right;
	width: 325px;
	color:rgb(72, 87, 111);
	font-family: 'Source Sans Pro', Arial, sans-serif;
}
.productTitle {
	color: rgb(51, 53, 56);
	font-size: 27px;
	line-height: 1.25em;
	letter-spacing: 4px;
	text-transform: uppercase;
}
.productPrice {
	color: rgb(72, 87, 111);
	margin: 16px 0 16px 0;
	font-size: 18px;
}
/*.productPrice:before {
	content: '$';
}*/
.addToCartButton{
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px ;
	display:block;
	width: 170px;
	padding: 10px;
	background-color: rgb(39, 39, 39);
	color: #FFF;
	border: none;
	cursor: pointer;
}

.productDescription {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	margin-top: 24px;
	color: rgb(72, 87, 111);
}
.productDescription h3 {
	margin: 0;
	font-size: 21px;
	height: 26px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 4px;
	font-weight: 400;
	color: #333538;;
}




/*||||||||||||||||||||||||SHOPPING CART|||||||||||||||||||||||||*/

.shoppingCartWrapper{
	font-family: 'Source Sans Pro', Tahoma, Arial, sans-serif;
	text-align: center;
	padding: 40px 60px;
	overflow: hidden;
}
.cartTitle{
	text-align: left;
	font-size: 24px;
	line-height: 1.25em;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #333538;
}
.cartDetails{
	width: 100%;
	border-collapse: collapse;
	color: #333538;
}
.cartDetails td:empty{
	border: none;
}
.cartDetails tr {
	font-size: 13px;
}
.cartDetails tr td, .cartDetails tr th {
	border-bottom: 1px solid #DDD;
	padding: 13px 0;
}
.cartProductImage{
	text-align: left;
	width: 100px;
}
.cartProductImageDiv{
	width: 100px;
	overflow: hidden;
}
.cartProductImageSpan {
	display: inline-block;
  position: relative;
  right: -50%;
  -webkit-transition: opacity 0.14s ease-out;
	-moz-transition: opacity 0.14s ease-out;
	-ms-transition: opacity 0.14s ease-out;
	-o-transition: opacity 0.14s ease-out;
	transition: opacity 0.14s ease-out;
}
.cartProductImage img {
	position: relative;
	left: -50%;
	height: 80px;
} 
.cartProductTitle{
	text-align: left;
	width: 250px;
}
.cartProductTitle a{
	display: block;
	margin-left: 20px;
	text-decoration: none;
	font-size:15px;
	line-height: 17px;
	color: #ABB0B3;
}
.cartProductTitle a:Hover{
	color: #FFD675;
}
.cartProductQty{
	width: 80px;
	text-align: center;
	font-size: 17px;
}
.cartProductQty input{
	text-align: right;
	border: 1px solid #CCC;
	border-radius: 4px;
	line-height: normal;
	display: inline-block;
	height: 20px;
	width: 30px;
	padding: 3px 6px;
}
.cartProductPrice{
	width: 100px;
	text-align: center;
	font-size: 16px;
}
.cartProductPrice:after{
	content: ' ₫';
	font-size: 14px;
}
.cartActions{
	text-align: center;
}
.cartItemRemove{
	width: 11px;
	height: 11px;
	background: transparent image-url('icon_close_7_dark.png') center center no-repeat;
	cursor: pointer;
	opacity: .5;
	border: none;
}
.cartItemRemove:hover{
	opacity: 0.8;
}
tr.cartTotalLine td{
	padding-top: 40px;
	font-size: 16px;
}
.cartTotalLine td.cartTotalCell {
	font-size: 18px;

}
.cartTotalCell:after{
	content: ' ₫';
	font-size: 15px;
}
.checkOutButton{
	float: right;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px ;
	display:block;
	width: 130px;
	margin: 30px 30px 0 0;
	padding: 10px;
	background-color: rgb(39, 39, 39);
	color: #FFF;
	border: none;
	cursor: pointer;
}






/*||||||||||||||||||||||||CHECKOUT PAGE|||||||||||||||||||||||||*/

.orderPageWrapper{
	background: #f3f3f3;
	color: #333;
	margin: 0;
	padding-bottom: 50px;
	font-size: 13px;
	font-family: 'proxima-nova', 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.orderPage{
	position: relative;
	margin: 0 auto;
	width: 900px;
	padding: 45px 0;
	clear: both;
	overflow: hidden;
}
.orderHeader{
	font-size: 24px;
	font-weight: bold;
	height: 29px;
	margin-bottom: 35px;
}
.orderTitle{
	font-size: 16px;
	margin-bottom: 20px;
}
.orderSummary{
	background: #FFF;
	width: 360px;
	float: right;
	margin-right: 30px;
	padding: 30px;
}
.orderInfo{
	background: #FFF;
	width: 360px;
	float: right;
	margin-right: 30px;
	padding: 30px;
}

/*-------------Summary Form--------------*/

.orderProductDetails{
	border-collapse: collapse;
	width: 100%;
	border: none;
	color: #333538;
}
.orderProductDetails tr {
	font-size: 13px;
}
.orderProductDetails tr th {
	height: 30px;
	color: #A09A9A;
}
.orderProductImage{
	text-align: left;
	height: 42px;
}

.orderProductImage img {
	position: relative;
	width: 52px;	
} 
.orderProductTitle{
	text-align: left;
	width: 100px;
}
.orderProductTitle a{
	display: block;
	margin-left: 5px;
	text-decoration: none;
	font-size:13px;	
	color: #333;
}
.orderProductTitle a:Hover{
	color: #FFD675;
}
.orderProductQty{
	width: 80px;
	text-align: center;
	font-size: 15px;
}
.orderProductQty input{
	text-align: right;
	border: 1px solid #CCC;
	border-radius: 4px;
	line-height: normal;
	display: inline-block;
	height: 20px;
	width: 30px;
	padding: 3px 6px;
}
.orderProductPrice{
	width: 100px;
	text-align: right;
	font-size: 15px;
}
.orderProductPrice:after{
	content: ' ₫';
	font-size: 15px;
}
.orderActions{
	text-align: center;
}
.orderItemRemove{
	width: 11px;
	height: 11px;
	background: transparent image-url('icon_close_7_dark.png') center center no-repeat;
	cursor: pointer;
	opacity: .5;
}
.orderItemRemove:hover{
	opacity: 0.8;
}
.orderSubTotalLine {
	border-top: 1px solid #DDD;
	text-align: right;
}
.orderSubTotalLine td{
	padding-top: 15px ;
	line-height: 13px;
	font-size: 11px;
}
.orderTaxLine {
	text-align: right;
}
.orderTaxLine td {
	line-height: 13px;
	font-size: 11px;
}
.orderShippingLine {
	border-bottom: 1px solid #DDD;
	text-align: right;
}
.orderShippingLine td {
	padding-bottom: 15px ;
	line-height: 13px;
	font-size: 11px;
}
.orderSubTotalCell:after, .orderTaxCell:after, .orderShippingCell:after{
	content: ' ₫';
	font-size: 15px;
}
td.orderSubTotalCell, td.orderTaxCell, td.orderShippingCell{
	font-size: 14px;
}
.orderGrandTotal{
	margin-top: 20px;
}
.orderGrandTotalCell{
	display: block;
	float: right;
	font-weight: bold;
	font-size: 16px;
	margin-right: 10px;
	width: 100px;
	text-align: right;
}
.orderGrandTotalCell:after{
	content: ' ₫';
	font-size: 18px;

}
.orderGrandTotalLabel{
	display: block;
	float: right;
	text-transform: uppercase;
	font-size: 16px;
	color: #666;
}
/*---------------Shipping Info Form--------------*/



.orderFieldFull{
	margin: .6em 0 0;
	padding: 8px 10px;
	border: 1px solid #DDD;
	color: #333;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0 2px 2px rgba(0,0,0,0.05) inset;
}
.orderFieldHalfLeft{
	margin: .6em 0 0;
	padding: 8px 10px;
	border: 1px solid #DDD;
	color: #333;
	border-radius: 4px;
	width: 49%;
	float: left;
	box-sizing: border-box;
	margin-right: 2%;
	box-shadow: 0 2px 2px rgba(0,0,0,0.05) inset;
}
.orderFieldHalfRight{
	margin: .6em 0 0;
	padding: 8px 10px;
	border: 1px solid #DDD;
	color: #333;
	border-radius: 4px;
	width: 49%;
	float: left;
	box-sizing: border-box;
	box-shadow: 0 2px 2px rgba(0,0,0,0.05) inset;
}
.orderFieldError{
	border: 1px solid red;
}
.orderFieldFull:focus, .orderFieldHalfRight:focus, .orderFieldHalfLeft:focus{
	outline: 0;
	color: #404040;
	border-color: #42b1ff;
	box-shadow: 0 0 0 1px #42b1ff;
}
.orderSubmit{
	margin: 30px auto ;
	display: block;
	width: 150px;
	background: #222;
	color: #fff;
	font-size: 12px;
	line-height: normal;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	padding: 11px 0;
	border: none;
	border-radius: 25px;
}

.orderError{
	width: 100%;
	color: #FFF;
	/*background: */
	padding: 5px 8px 5px 29px;
	font-size: 11px;
	border-radius: 4px;
	line-height: 19px;
	margin-top: 30px;
	margin-bottom: 30px;
	box-sizing: border-box;
	background: #a00 image-url("tiny-alert.png") no-repeat 7px 7px;

}
.orderErrorCount{
	font-weight: bold;
}

ul.orderErrorList{
	padding:0px;
	margin:0px;
}


