


		<div class="social">
	    <%= link_to(" ", '/', :class => "facebookIcon") %>
	    <%= link_to(" ", '/', :class => "googleIcon") %>
	    <%#= link_to(" ", '/', :class => "twitterIcon" ) %>
	    <%#= link_to(" ", '/', :class => "linkedinIcon" ) %>
	    <%#= link_to(" ", '/', :class => "flickrIcon" ) %>
	    <%#= link_to(" ", '/', :class => "dribbleIcon" ) %>
	    <%#= link_to(" ", '/', :class => "youtubeIcon" ) %>
	    <%= link_to(" ", '/', :class => "pinterestIcon" ) %>
	  </div>

	</div>

<!-- TODO: Addthis -->

</body>
</html>
