<head>
	<title><%= yield(:title)%> - Carpenta</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<link rel="shortcut icon" href="/assets/favicon.ico" type="image/png">
	<link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>

	<!-- Responsive viewport for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1">



</head>