<nav class="mainNavigation clearfix">
	<ul class="menu clearfix">
	  <li><a href="/">HOME</a></li>
	  <li><a href="/">MENU</a></li>
	  
 		<!-- Dynamic Collection Submenu -->
	  <li><a style="cursor: pointer;">SHOP</a>
	    <ul class="subMenu">
	    	<% @collections.each do |c| %>
	    		<li>
	    			<%= link_to(c.title, :controller => 'shop', :action => 'collection', :collection => c.permalink) %>
	    		</li>

	    	<% end %>
	    </ul>
	  </li>





	  <li><a href="/">OUR BEANS</a></li>
	  <li><a href="/">NEWS</a></li>
	  <li><a href="/">READ ME</a></li>
	</ul>
</nav>