<nav class="mainNavigation clearfix">
	<ul class="menu clearfix">
	  <li>
	  	<%= link_to("Home", root_path) %>
	  </li>
	  
 		<!-- Dynamic Collection Submenu -->
	  <li><span style="cursor:default;">SHOP</span>
	    <ul class="subMenu">
	    	<% @collections.each do |c| %>
	    		<li>
	    			<%= link_to(c.title, :controller => 'shop', :action => 'collection', :collection => c.permalink) %>
	    		</li>

	    	<% end %>
	    </ul>
	  </li>

	  <li><a href="/">SERVICES</a></li>
	  <li><a href="/">NEWS</a></li>
	  <li>
	  	<%= link_to("About Us", :controller => 'static_pages', :action => 'about') %>
	  </li>
	  <li>
	  	<%= link_to("CONTACT", :controller => 'static_pages', :action => 'contact') %>
	  </li>
	</ul>
</nav>